body {
    background-color: black;
    color: white;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 100px;
}
#sobreMi div{
    color: rgba(26, 216, 220, 0.967);
    font-size: 20px;
}

span {
    display: inline-block;
    background: linear-gradient(to bottom, #033CFF, #8BA4F9);
    background-clip: text; /* Propiedad estándar para clipar el fondo al texto */
    color: transparent;
}
#tecnologias {
    text-align: center;
    justify-content: center;
    border: 2px solid red;
    height: 200px ;
}

#Actividades {
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 5px solid greenyellow;
}
#Actividades div{
    display: flex;
    flex-direction: column;
}
.divImg {
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 170px;
    margin-left: 10px;
    transition: all 1s;    
}
.divImg:hover{
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
}
#tecnologias{
    display: flex;
    
}
#Actividades span{
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold; /* Poner en negrita */
    font-style: italic; /* Poner en cursiva */
}
input{
    background-color: black;
    color: gray;
}
#inputActividad{
    border-radius: 10px;
    border:  1px solid blue;
}
#inputDescripcion {
    border-radius: 10px;
    border:  1px solid blue;
    height: 150px;
}
#inputImagen{
    border-radius: 10px;
    border:  1px solid blue;
}
